global
    log stdout format raw daemon
    maxconn 256

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 10s
    timeout client  1m
    timeout server  1m

# Пул мастер узлов (один активный)
frontend postgres_master
    bind *:5000
    default_backend master_nodes

# Пул реплик
frontend postgres_replicas
    bind *:5001
    default_backend replica_nodes

# Backend для мастера
backend master_nodes
    option httpchk GET /master
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg1 pg1:5432 check port 8008
    server pg2 pg2:5432 check port 8008
    server pg3 pg3:5432 check port 8008

# Backend для реплик
backend replica_nodes
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg1 pg1:5432 check port 8008
    server pg2 pg2:5432 check port 8008
    server pg3 pg3:5432 check port 8008
